<p id="notice"><%= notice %></p>

<h1>Favourites</h1>

<table>
  <thead>
    <tr>
      <th>Founder</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @swipes.each do |swipe| %>
    <td> <img src="<%= swipe.founder.profile_picture %>" alt="" class="img-circle" style="max-height: 100px; max-width: 100px;" /></td>
      <tr>
        <td><%= link_to swipe.founder.company_name, founders_path %></td>
        <td><% swipe.founder_id %></td>
        <td><% swipe.investor_id %></td>
        <td><% swipe.favourite %></td>
        <td><%= link_to 'Remove Favourite', swipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


